.nav__principal {
    width: 70px;
    height: 100%;
    border-radius: 30px;
    background-color: var(--primary-color);
    padding: 25px;
    transition: .3s ease-in-out all;

}

.nav__principal:hover {
    width: 170px;
}

.nav__content .nav__item {
    display: none;
}

.nav__principal:hover .nav__content .nav__item {
    display: flex;
}

.nav__ul {
    list-style: none;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.nav__item a {
    display: inline-block;
    color: white;
    text-decoration: none;
    width: 70px;
}

.nav__content span {
    display: inline-block;
    color: white;
    font-weight: 500;
    width: 100px;
}